.square {
    color:white;
    background: #0b87b8;
    border: 4px solid #019be2;
    float: left;
    font-size: 90px;
    line-height: 136px;
    height: 136px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 136px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}